.label {
  display: block;
  padding: 5px;
  margin: 10px;
}

.button {
  padding: 5px 20px;
  background-color: #1c9c3c;
  border: none;
  color: rgb(255, 255, 255);
}

.input {
  margin-left: 10px;
}
