

body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

.percent {
    position: absolute;
    top: 0px;
    left: 155px;
    background: #ffffff;
    padding: 5px;
    color: #e0157a;
    font-weight: bold;
    font-size: 14px;
}

.themebutton {
	display: block;
	background: url("./../icon/whiteThemeSun.svg") no-repeat center;
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 80px;
	right: 20px;
	cursor: pointer;
	color: #333;
	border-radius: 5px;
	z-index: 999;
}

/*полоса прокрутки вверху START*/
#cont {
    width: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    height: 4px;
    z-index: 100;
}
#progress {
    background: #bbdefb;
    width: 0%;
    height: 4px;
}
/*полоса прокрутки вверху END*/


p {
	  margin: 2px;
  
}

a {
	text-decoration: none;
    color: #2e47ff;
}

a:visited {
 /* Цвет посещенной ссылки */
    color: #2e47ff;
   }

/* Для скрипта*/
 .spoiler_body  {
	 display:none; font-style:normal;
	 }
	 
	  .spoiler_body-category  {
	 display:none; font-style:normal;
	 }
	 
	 .spoiler_open {
	     display:block;
	 }
	 
 .spoiler_links, .spoiler_body-category {
	 cursor:pointer; font-weight:normal; text-decoration: none;
	 }
	 
 .blue {
	 color:#006699;
	 /*color: rgba(0, 0, 204, 0.8);*/
	 }
	 
 .green {
	 color:#009900;
	 }
	 
	 
 .red {
	 color: red;
	 font-weight: 400;
	 }

.grey1 {
    background: #f7f7f7;
    
}


/* demandsxml.php START*/
.demandsxml-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #f7f7f7;
	/*background: linear-gradient(5deg, #fff, #bbdefb);*/
}

.card {
	display: flex;
	align-items: flex-start;
	flex-basis: 440px;
	outline: 1px solid #d3d3d3;
	margin: 10px 10px 5px 10px;
	padding: 5px;
	background: #fff; 
	justify-content: space-between;
	position: relative;
	
}

.card:hover {
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.1);
}

.card-icon {
	margin-top: 20px;
	margin-right: 15px;
	width: 50px;
	height: 50px;
	/*outline: 1px solid red;*/
}

.card-icon-name {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/name.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-vendor {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/vendor.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-variation {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/variation.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-category {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/category.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-picture {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/picture.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-description {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/description.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-param {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/param.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-payment {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/payment.svg") no-repeat;
	background-size: contain;
	width: 60px;
	height: 60px;
}

.card-icon-available {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/available.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-currency {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/currency.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-stock_quantity {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/stock_quantity.svg") no-repeat;
	background-size: contain;
	width: 50px;
	height: 50px;
}

.card-icon-pug {
    position: absolute;
    top: 0px;
    left: 5px;
	background: url("../icon/pug.svg") no-repeat;
	background-size: contain;
	width: 60px;
	height: 60px;
}

.card-text {
    margin-left: 65px;
}
/* demandsxml.php END*/

/* Вывод результатов проверки хмл*/
.result {
	display: block;
	width: 100%;
	margin-left: 65px;
}

.result-wrapper {
	display: flex;
	align-items: flex-start;
	outline: 1px solid #d3d3d3;
	margin: 10px 10px 10px 10px;
	padding: 5px;
	background: #fff;
	flex-basis: 500px;
	flex-wrap: wrap;
	position: relative;
}

.result-icon {
    display: inline-block;
	margin-top: 20px;
	margin-right: 15px;
	position: absolute;
}

.result-more {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

/* Вывод карточек товара*/

.wrapper-body {
	box-sizing: border-box;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 2px solid #f7f7f7;
	border-bottom: 7px solid #f7f7f7;
	border-top: 7px solid #f7f7f7;
	margin: 0px 0 20px 0;
	text-align: center;
	background: #fff;
}

.body-category {
	width: 23%;
	padding: 5px; 
    max-width: 380px;	
	margin-left: 5px;
	background: #f7f7f7;
    
}

/* Вывод первой колонки в карточке товара START*/
.category, .name, .vendor, .price, .available, .stock_quantity, .offer_id, .number, .attention, .links  {
	display: flex;
	background: #fff;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	align-content: center;
	
}

.attention {
	background: #fff;
}

.attention span  {
display: block;
width: 230px;
}	

.category p, .name p, .vendor p,  .price p, .available p, .stock_quantity p, .offer_id p, .number p, .attention p {
	font-size: 13px;
    font-weight: 500;
	text-align: left;
	line-height: 20px;
}

.vendor p {
	font-size: 14px;
	font-weight: 400;
}
.name-title  {
	font-size: 14px;
	font-weight: 400;
	height: auto;
}

.price-title  {
	line-height: 20px;
}

.name-color a {
	text-decoration: none;
	color: #000;
}

.model-color a {
	text-decoration: none;
	color: #0000ff;
}

.name-color a:visited {
	color: #000;
}

.model-color a:visited {
	color: #0000ff;
}

.link {
	margin-left: 15px;
	
}
.link-wrapper span {
	cursor: pointer;
}

/* вывод иконок в первой колонке*/
.icon {
	width: 30px;
	height: 30px;	
	margin-right: 20px;
	margin-left: 5px;
	flex-grow: 0;
	flex-shrink: 0;
}

.link-icon {
	background: url("../icon/link.svg") no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
}

.number-icon {
	background: url("../icon/number.svg") no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.available-icon {
	background: url("../icon/available.svg") no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.available-icon-stop {
	background: url("../icon/stop.svg") no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.stock_quantity-icon {
	background: url("../icon/stock_quantity.svg") no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.offer_id-icon {
	background: url("../icon/offer_id.svg") no-repeat;
	background-size: contain;
    width: 35px;
	height: 35px;
}

.price-icon {
	background: url("../icon/currency.svg") no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.vendor-icon {
	background: url("../icon/vendor.svg") no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
}

.name-icon {
	background: url("../icon/name.svg") no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;	
	margin-right: 15px;
	/* outline: 1px solid grey; */
}

.category-icon {
	background: url("../icon/category.svg") no-repeat;
	background-size: contain;
    width: 40px;
	height: 40px;
}


/* Вывод первой колонки в карточке товара END*/

.param {
	padding: 5px; 
	display: inline-block;
    width: 100%;
    max-width: 360px;
    text-align: left;
    line-height: 28px;
}

 .color-hr {
    color: #eaeaea; 
    height: 1px;
    outline: 1px solid #d3d3d3;
} 

.wrapper-picture {
	display: flex;
	height: 100%;
	align-items: center;
	
}

.picture {
	display: flex;
	flex-wrap: wrap;
	width: 480px;
	justify-content: center;
	background: #f7f7f7;
	align-items: center;

}

.picture_picture {
    overflow: hidden;
    display: block;
    background-size: contain;
    max-width:220px;
    min-height:220px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 3px 5px 3px ;
}

.picture img {
	padding: 5px 3px 5px 3px ;
}

.link {
	display: inline-block;
	padding: 5px; 
	max-width: 255px;
	overflow-wrap: break-word;
	line-height: 22px;
	/* outline: 1px solid red; */
	text-align: left;
}

.description {
	width: 30%;
	padding: 5px; 
	background: #f7f7f7;
	margin-right: 5px;
}

/*Button and spolers*/
.button {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-radius: 24px;

}

.main-spoler {
    display: inline-block;
	margin-bottom: 10px;
	/* margin-left: 20px; */
}


.hide-button, .show-button {
    padding: 3px 10px;
    background-color: #bbdefb;
    color: rgba(0,0,0,0.8);
	border: 1px solid #A9A9A9;
	font-family: arial;
	font-size: 13px;
	margin-left: 0px;
	border-radius: 24px;

}

.main-button {
    display: inline-block;
    font-size: 13px;
    padding: 2px 8px;
    color: rgba(0,0,0,0.8);
	border: 1px solid #A9A9A9;
	margin-bottom: 20px;
	margin-left: 55px;
    background-color: #bbdefb;
    display: none;
}

.main-button:hover, .main-button:focus {
       background-color: #bbdefb;
}

.hide-button:hover, .show-button:hover, .hide-button:focus, .show-button:focus   {
    cursor: pointer;
    outline: none;
    background-color: #bbdefb;
}

.wrapper-spoiler {
    position: relative;
}

.upbutton {
display: block;
background: url("../icon/arrow-down-40.svg") no-repeat center;
transform: rotate(90deg);
width:10px;
height: 10px;
border:2px solid transparent;
text-align:center;
padding:10px;
position:fixed;
bottom:40px;
right:20px;
cursor:pointer;
color:#333;
border-radius: 5px;
}

.downbutton {
display: block;
background: url("../icon/arrow-down-40.svg") no-repeat center;
transform: rotate(-90deg);
width:10px;
height: 10px;
border:2px solid transparent;

text-align:center;
padding:10px;
position:fixed;
bottom:10px;
right:20px;
cursor:pointer;
color:#333;
border-radius: 5px;
}

.nonbutton {
    display: block;
    width: 25px;
    height: 25px;
    position:fixed;
    bottom:80px;
    right:20px;
    /*background-color: #000;*/
}


.wrapper-spoiler {
    display: block;
 	background-color: #fff;
	margin-left: 0px;
	padding: 0px 7px 7px 7px;
}

/*attention*/
.alarm {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
}
.alarm-text p {
	background: #f7f7f7;
	margin-right: 10px;
}

.links span {
	color: #000;
}

.empty_photo, .symbol128 {
	width: 480px;
}

.alarm-icon {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-right: 10px;
	background: url("../icon/attention.svg") no-repeat;
	background-size: contain;
}

.first-icon {
    width: 35px;
	height: 35px;
	margin-right: 10px;
	margin-right: 10px;
	background: url("../icon/first.svg") no-repeat;
	background-size: contain;
}

/*Вывод url ссылок в описании START*/
.descr-reg {
    max-width: 270px;
    color: #0000cc;
    display: inline-block;
	padding: 5px; 
	overflow-wrap: break-word;
	text-align: left;
}

.link-alarm {
    text-align: left;
}
/*Вывод url ссылок в описании END*/

.footer {
    width: 100%;
    height: 50px;
    background-color: #bbdefb;
}

.column {
    column-width: 410px;
    column-count: 3;
    column-gap: 30px;
   }
   
   .column2 {
    column-width: 410px;
    column-count: 2;
    column-gap: 30px;
   }

.link-flex {
    padding-top: 18px;
}

.result-list {
    margin-left: 65px;
}

/*Вывод общего списка товаров в формате Категория-Название-Производитель START*/
.common-offers-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.offers-number {
    position: absolute;
    top: 0px;
    left: 5px;
}

.offers-name   {
    /*max-width: 40%;*/
    /*width: 50%;*/
    /*outline: 1px solid green;*/
}

.offers-vendor {
    /*width: 15%;*/
    /*outline: 1px solid green;*/
}

.offers-category {
    /*width: 30%;*/
    margin-left: 55px;
    text-decoration: underline;
    /*outline: 1px solid green;*/
}
/*Вывод общего списка товаров в формате Категория-Название-Производитель END*/


/* Медиазапросы*/
@media (min-width: 1805px) and (max-width: 2000px) {
	.descr-reg {
    max-width: 450px;
    }
}

@media (min-width: 1501px) and (max-width: 1805px) {
	.body-category { 
    max-width: 300px;
	}
	.param {
	max-width: 300px;
	}
	.description {
	max-width: 350px;
	}
	.card {
	flex-basis: 330px;
	}
	.link {
	max-width: 165px;
	}
	.descr-reg {
    max-width: 290px;
    }
    }

@media (min-width: 1420px) and (max-width: 1500px) {
	.body-category { 
    max-width: 290px;
	}
	.param {
	max-width: 270px;
	}
	.description {
	max-width: 330px;
	}
	.card {
	flex-basis: 329px;
	}
	.link {
	max-width: 165px;
	}
    }
    
    @media (min-width: 1255px) and (max-width: 1419px) {
	.body-category { 
    max-width: 220px;
	}
	.param {
	max-width: 220px;
	}
	.description {
	max-width: 270px;
	}
	.card {
	flex-basis: 280px;
	}
	.link {
	max-width: 165px;
	}
		.descr-reg {
    max-width: 200px;
    }
    }
    

	

	
	
	