// fonts
$main-font: Montserrat, Arial, sans-serif;
$descr-font: "Kaushan Script";
$text-font: Roboto, Arial, sans-serif;;

// font-weight
$light: 300;
$regular: 400;
$bold: 700;

// font-size
$main-font-size: 14px;
$title-font-size: 30px;
$title-descr-font-size: 24px;
$text-font-size: 15px;

// color
$dark-color: #333333;
$light-color: #ffffff;
$mark-color: #fce38a;
$cold-color: #95e1d3;
$warm-color: #f38181;