img {
  display: block;
  width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 300; }

.wrapper {
  width: 1040px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 575px) {
    .wrapper {
      display: block;
      width: 100%; } }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   display: none; <- Crashes Chrome on hover */ }

input[type="text"],
input[type="number"],
input[type="select"] {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset;
          box-shadow: 0 0 0 30px #ffffff inset; }

/*input[type="date"]::-webkit-calendar-picker-indicator {*/
/*  color: transparent;*/
/*  opacity: 1;*/
/*  background: #ffffff;*/
/*  background: url(img/calendar.svg) no-repeat center;*/
/*  background-size: contain; }*/
  


input[type="date"]::-webkit-clear-button {
  display: none; }

.header {
  padding: 17px 0;
  background-color: #3f51b5; }
  .header__logo {
    display: block;
    text-decoration: none;
    width: 107px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  @media (max-width: 575px) {
    .nav__list {
      display: block; } }

.nav__item {
  margin-right: 41px; }
  .nav__item:last-child {
    margin-right: 5px; }

.nav__link {
  position: relative;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none; }
  .nav__link--active {
    color: #ff5722; }
  .nav__link:hover {
    color: #ff5722; }
  .nav__link:hover::after {
    width: 100%; }
  .nav__link::after {
    display: block;
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ff5722;
    content: "";
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out; }
    @media (max-width: 575px) {
      .nav__link::after {
        display: none; } }

.section {
  background-color: #e6e6e6;
  padding: 46px 0px; }
  .section__content {
    margin: 0 auto;
    background-color: #fff;
    width: 1040px;
    min-height: calc(100vh - 205px);
    padding: 30px 150px 60px; }
    @media (max-width: 575px) {
      .section__content {
        width: 100%;
        padding: 20px 5px 20px; } }
  .section--hidden {
    display: none; }

.expenses__calendar-cont {
    /*outline: 1px solid green;*/
    width: 235px;
    position: relative;
  text-align: center;
  margin: 0 auto;
  
  margin-bottom: 55px; }

.expenses__form {
  text-align: center;
  margin-bottom: 40px; }

.expenses__chart {
  width: 350px;
  height: 250px;
  margin: 0 auto; }
  @media (max-width: 575px) {
    .expenses__chart {
      width: 280px;
      height: 200px; } }

.expenses__list {
  padding: 30px 0;
  list-style: none;
  margin-bottom: 50px; }

.expenses__item {
  margin-bottom: 15px; }
  .expenses__item:last-child {
    margin-bottom: 0; }

.expenses__total {
  color: #3f51b5;
  font-family: "Ubuntu", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 45px;
  text-align: center; }

.calendar {
  font-family: "Roboto", sans-serif;
  color: #3f51b5;
  font-size: 26px;
  font-weight: 100;
  border: none;
  cursor: pointer;
  background: transparent;
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   display: block;
   margin: 0 auto;
   outline: none;
   /*outline: 1px solid red;*/
   padding-right: 30px;
   position:relative;
   /*min-width: 200px;*/
  }
  
  textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
}
  
  .calendar::before {
    position: absolute;
    top: -5px;
    right: 70px;
    display: block;
    content: url(img/calendar.svg);
    width: 20px;
    height: 20px;
      -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
    
}  




/*::-webkit-datetime-edit { padding: 1em; }*/
/*::-webkit-datetime-edit-fields-wrapper { background: silver; }*/
/*::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }*/
/*::-webkit-datetime-edit-month-field { color: blue; }*/
/*::-webkit-datetime-edit-day-field { color: green; }*/
/*::-webkit-datetime-edit-year-field { color: purple; }*/
/*::-webkit-inner-spin-button { display: none; }*/
::-webkit-calendar-picker-indicator { opacity: 0; }

.exp-inputs-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 575px) {
    .exp-inputs-line {
      display: block; } 
      
  }
  .exp-inputs-line__name, .exp-inputs-line__amount, .exp-inputs-line__purpose, .exp-inputs-line__periodicity {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; 
    display: block;
    font-family: "Roboto", sans-serif;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    outline: none;
    background-color: transparent;
    cursor: pointer; 
    padding: 12px 12px 12px 0px;
  }
  
  .exp-form__inputs-line::before {
    content: url(img/arrow.svg);
    position: absolute;
    top: 12px;
    left: 520px;
    display: block;
    width: 10px;
    height: 10px;
}

.exp-form__inputs-line::after {
    content: url(img/arrow.svg);
    position: absolute;
    top: 12px;
    left: 730px;
    display: block;
    width: 10px;
    height: 10px;
}
  
  
  
    @media (max-width: 575px) {
      .exp-inputs-line__name, .exp-inputs-line__amount, .exp-inputs-line__purpose, .exp-inputs-line__periodicity {
        margin-bottom: 5px; }
        .exp-inputs-line__name:last-child, .exp-inputs-line__amount:last-child, .exp-inputs-line__purpose:last-child, .exp-inputs-line__periodicity:last-child {
          margin-bottom: 0; } 
       .exp-form__inputs-line::before {
           left: 85px;
           top: 110px;
       }
       
       .exp-form__inputs-line::after {
           left: 125px;
           top: 160px;
       }
       
       .calendar {
        font-size: 22px;
       }
       
       .calendar::before {
        top: -2px;
        right: 25px;
         width: 10px;
         height: 10px;
       }
       
    }
    .exp-inputs-line__name::-webkit-input-placeholder, .exp-inputs-line__amount::-webkit-input-placeholder, .exp-inputs-line__purpose::-webkit-input-placeholder, .exp-inputs-line__periodicity::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: #b3b3b3; }
    .exp-inputs-line__name:-ms-input-placeholder, .exp-inputs-line__amount:-ms-input-placeholder, .exp-inputs-line__purpose:-ms-input-placeholder, .exp-inputs-line__periodicity:-ms-input-placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: #b3b3b3; }
    .exp-inputs-line__name::-ms-input-placeholder, .exp-inputs-line__amount::-ms-input-placeholder, .exp-inputs-line__purpose::-ms-input-placeholder, .exp-inputs-line__periodicity::-ms-input-placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: #b3b3b3; }
    .exp-inputs-line__name::placeholder, .exp-inputs-line__amount::placeholder, .exp-inputs-line__purpose::placeholder, .exp-inputs-line__periodicity::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: #b3b3b3; }
    .exp-inputs-line__name:disabled, .exp-inputs-line__amount:disabled, .exp-inputs-line__purpose:disabled, .exp-inputs-line__periodicity:disabled {
      background-color: #fff;
      border: none;
      color: #4d4d4d;
      cursor: default;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none; }
  .exp-inputs-line__name {
    width: 170px; }
  .exp-inputs-line__amount {
    width: 80px; }
  /*.exp-inputs-line__purpose, .exp-inputs-line__periodicity {*/
  /*  width: 170px;*/
  /*  color: #b3b3b3; }*/
  /*  .exp-inputs-line__purpose option:nth-of-type(n + 2), .exp-inputs-line__periodicity option:nth-of-type(n + 2) {*/
  /*    color: #4d4d4d; }*/

.exp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .exp-item--edited {
    background-color: #ecdede;
    padding: 5px 0;
    outline: 3px solid #ecdede; }
  .exp-item__inputs-line {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 15px; }
    .exp-item__inputs-line select[data-id="edit-periodicity"] {
      width: 130px; }
    .exp-item__inputs-line select {
      color: #4d4d4d; }

.exp-form__inputs-line {
    position: relative;
  margin-bottom: 20px; }

.exp-form__button-cont {
  text-align: right; }

.exp-form__add-button {
  font-family: "Roboto", sans-serif;
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #ff5722;
  background-color: #ff5722;
  padding: 8px 40px;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: auto;
  outline: none;
  cursor: pointer;
  }

.item-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (max-width: 575px) {
    .item-button {
      width: 25px;
      height: 25px; } }
  .item-button--hidden {
    display: none; }
  .item-button__edit {
    background-image: url(img/edit.svg);
    margin-right: 5px; }
    @media (max-width: 575px) {
      .item-button__edit {
        margin-right: 15px; } }
  .item-button__delete {
    background-image: url(img/x.svg); }
  .item-button__confirm {
    background-image: url(img/confirm.svg);
    margin-right: 5px; }
    @media (max-width: 575px) {
      .item-button__confirm {
        margin-right: 15px; } }
  .item-button__cancel {
    background-image: url(img/x-bold.svg); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: #3f51b5; }
  .footer__content {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 12px;
    margin: 0 auto; }
    
    
