body {
  padding-top: 10px;
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.red {
  color: #ff0000;
}

.green {
  color: #186818;
}

p {
  margin: 3px;
}

.hidden {
  display: none;
}

.form {
  flex-shrink: 3;
  display: inline-block;
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px;
  width: 20vw;
}

.form:first-child {
  min-width: 315px;
}

h4 {
  font-size: 18px;
  font-family: Arial;
}
.input {
  width: calc(100% - 5px);
  height: 20px;
  font-size: 24px;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid grey;
  font-size: 1em;
  padding-left: 5px;
}

.input::-webkit-input-placeholder {
  font-size: 18px;
  padding: 5px;
}

.result-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #000000;
}
li:last-child {
  border-bottom: none;
}

button {
  width: 100%;
  height: auto;
  font-size: 18px;
  background-color: rgb(149, 203, 248);
  border: 1px solid #000000;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
}

.button-remove-all-users {
  /* background-color: #ff0000; */
}

button:hover,
button:focus {
  outline: none;
  cursor: pointer;
}

.copy_picture,
.remove_picture {
  margin: 5px;
}

.wrapper_input {
  display: flex;
}

.result-getuser {
  top: 190px;
  left: 0px;
}

.form-getbyid {
  position: relative;
}

.copy {
  vertical-align: text-bottom;
}

.copy-text {
  margin-left: 5px;
}

.delete {
  position: absolute;
  top: 400px;
  right: 48vh;
}

.stork {
  position: absolute;
  top: 150px;
  left: calc(-300px + 60vw);
  z-index: 100;
}

.form-removeuser {
  position: relative;
}

.result-remove-user {
  position: absolute;
  top: 190px;
  left: 20px;
  padding: 5px;
  width: 200px;
  height: 55px;
  animation-name: 2s delete;
  z-index: 99;
}

.form-adduser {
  position: relative;
}

.result-add-user {
  position: absolute;
  top: 230px;
  left: 0;
  height: 100px;
  width: 240px;
  margin: 5px;
}

svg {
position: absolute;
top: 50vh;
left: 0px;
  width: 300px;
  height: 300px;
}

.user:hover {
  background-color: rgb(212, 234, 248);
}

.id, .name, .age, .number-user {
  font-weight: 700;
}