body {
  padding-top: 10px;
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.red {
  color: #ff0000;
}

.green {
  color: #186818;
}

p {
  margin: 3px;
}

.hidden {
  display: none;
}

.form {
  flex-shrink: 3;
  display: inline-block;
  padding: 5px;
  border: 1px solid #000000;
  margin: 5px;
  width: 20vw;
}

.form:first-child {
  min-width: 315px;
}

h4 {
  font-size: 18px;
  font-family: Arial;
}
.input {
  width: calc(100% - 5px);
  height: 20px;
  font-size: 24px;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid grey;
  font-size: 1em;
  padding-left: 5px;
}

.input::-webkit-input-placeholder {
  font-size: 18px;
  padding: 5px;
}

.result-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #000000;
}
li:last-child {
  border-bottom: none;
}

button {
  width: 100%;
  height: auto;
  font-size: 18px;
  background-color: rgb(149, 203, 248);
  border: 1px solid #000000;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
}

.button-remove-all-users {
  /* background-color: #ff0000; */
}

button:hover,
button:focus {
  outline: none;
  cursor: pointer;
}

.copy_picture,
.remove_picture {
  margin: 5px;
}

.wrapper_input {
  display: flex;
}

.result-getuser {
  top: 190px;
  left: 0px;
}

.form-getbyid {
  position: relative;
}

.copy {
  vertical-align: text-bottom;
}

.copy-text {
  margin-left: 5px;
}

.delete {
  position: absolute;
  top: 400px;
  right: 48vh;
}

.stork {
  position: absolute;
  top: 150px;
  left: calc(-300px + 60vw);
  z-index: 100;
}

.form-removeuser {
  position: relative;
}

.result-remove-user {
  position: absolute;
  top: 190px;
  left: 20px;
  padding: 5px;
  width: 200px;
  height: 55px;
  animation-name: 2s delete;
  z-index: 99;
}

.form-adduser {
  position: relative;
}

.result-add-user {
  position: absolute;
  top: 230px;
  left: 0;
  height: 100px;
  width: 240px;
  margin: 5px;
}

svg {
position: absolute;
top: 50vh;
left: 0px;
  width: 300px;
  height: 300px;
}

.user:hover {
  background-color: rgb(212, 234, 248);
}

.id, .name, .age, .number-user {
  font-weight: 700;
}

/* spinner START*/
.loader {
  display: inline-block;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}
.loader div {
  transform-origin: 32px 32px;
  animation: loader 1.2s linear infinite;
}
.loader div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}
.loader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}
/* spinner END*/
