html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-slogan, .site-text {
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;

}