html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section__text {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 18px auto;
}

.section__title {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
}

.section__title::after {
  display: block;
  content: "";
  margin: 38px auto 42px auto;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

/* HEADER START */
.site-name__logo {
  padding-top: 34px;
}

.nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav__list {
  width: 616px;
  justify-content: space-between;
  padding-top: 42px;
  margin-bottom: 148px;
}

.nav__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms linear;
}

.nav__link:hover {
  color: #fce38a;
  transition: color 200ms linear;
}

.nav__link::after {
  display: block;
  content: "";
  margin: 12px auto 0 auto;
  background-color: #fce38a;
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: opacity 200ms linear;
}

.nav__link:hover::after {
  opacity: 1;
  transition: opacity 200ms linear;
}

.nav__link--shopping-cart,
.nav__link--magnifying-glass {
  fill: #ffffff;
  transition: fill 200ms linear;
}

.nav__link--shopping-cart:hover,
.nav__link--magnifying-glass:hover {
  fill: #fce38a;
  transition: fill 200ms linear;
}

.nav__link--shopping-cart:hover::after,
.nav__link--magnifying-glass:hover::after {
  opacity: 0;
}

.nav__svg {
  width: 20px;
  height: 20px;
}

.header {
  max-width: 1920px;
  height: 1000px;
  background-color: #fce38a;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 45px;
}

.header__text {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 33px;
}

.header__title {
  max-width: 820px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 109px;
}

.header__button {
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 28px;
  cursor: pointer;
  border: 3px solid #ffffff;
  transition: all 200ms linear;
}

.header__button:hover {
  border: 3px solid #f38181;
  color: #f38181;
  transition: all 200ms linear;
}
/* HEADER END */

/* SERVICES START */
.services {
  margin-bottom: 65px;
}

.services__card {
  width: 370px;
  position: relative;
  padding-bottom: 75px;
  display: flex;
  margin-left: 30px;
}

.services__card:nth-child(-n + 3) {
  margin-top: 20px;
}

.services__card:nth-last-child(-n + 3) {
  padding-bottom: 0;
}

.services-card__wrapper {
  display: flex;
  flex-direction: column;
}

.services-card__svg {
  width: 35px;
  height: 35px;
  fill: #95e1d3;
  margin-right: 27px;
}

.services-card__name {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.services-card__name::before {
  position: absolute;
  left: 30px;
}

.services-card__descr {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 299px;
}
/* SERVICES END */

/* TEAM START */
.team::after {
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
  margin-top: 78px;
  margin-bottom: 10px;
}

.team__descr {
  margin-top: 46px;
  width: 945px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto 88px auto;
}

.team__list {
  justify-content: space-between;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.team-card {
  position: relative;
  display: flex;
}

.team-card:hover .team-card__photo,
.team-card:focus .team-card__photo,
.team-card:hover .social,
.team-card:focus .social {
  transform: translate(-10px, -10px);
  opacity: 1;
  transition: transform 200ms linear;
}

.team-card__background {
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
}

.team-card__name {
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 28px;
}

.team-card__descr {
  color: #999999;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
  margin: 0;
}

.team-card__photo {
  position: absolute;
  transition: transform 200ms linear;
  position: absolute;
}

.social {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 0;
  transition: transform 200ms linear;
  cursor: pointer;
}

.social__link {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  border-right: 1px solid #f8bc86;
  background-color: #fce38a;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.social__link:last-child {
  border-right: 1px solid transparent;
}

.social__link:hover {
  background-color: #f38181;
  transition: background-color 200ms linear;
}

.social__link:hover .social__svg {
  fill: #ffffff;
  transition: fill 200ms linear;
}

.social__svg {
  width: 100%;
  height: 26px;
  fill: #f38181;
  transition: fill 200ms linear;
}
/* TEAM END */

/* FOOTER START */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.footer__copyright {
  color: #333333;
}

.footer__copyright::before {
  content: "\00A9 \00a0";
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.footer__copyright--red-text {
  color: #f38181;
}

.form__input--text {
  width: 228px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  text-indent: 10px;
  color: #cccccc;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  font-style: italic;
}

.form {
  display: flex;
  align-items: center;
}

.form__input--submit {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: 1px solid #95e1d3;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 200ms linear;
  transition: border 200ms linear;
}

.form__input--submit:hover {
  background-color: #f38181;
  border: 1px solid #f38181;
  transition: background-color 200ms linear;
  transition: border 200ms linear;
}
/* FOOTER END */

/* MEDIA*/
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background: url(../img/background@2x.jpg) no-repeat center;
    background-size: cover;
  }
}
