.container {
  padding: 10px;
  margin: 20px;
}

.red {
  color: red;
  font-size: 40px;
}

.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  font-size: 70px;
  color: blue;
  background-color: #fff;
  padding: 5px;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #3c1c78;
  color: #714bb9;
  min-width: 240px;
}

::-webkit-input-placeholder {
  color: #714bb9;
}
::-moz-placeholder {
  color: #714bb9;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #714bb9;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #714bb9;
}

input, label, span {
  display: block;
  margin: 10px 0px;
}